.header{
    background-color: var(--yellow);
    height: 100px;
    width: 100%;
    .header-container {
        width: 150px;
        margin: 15px 35px;
        .logo-img {
            width: 100%;
        }
    }
    .nav-container {
        margin: 45px;
    }
}
